
h1{
    font-size: 40px;
    text-align: left;
    
    
}
.hafl-width{
    width: 40%;
     margin-left: 50px;
     margin-top: 150px;
    float:left;
}
.half-width img{
      
        width: 400px;
        margin-top: 100px;
        margin-left: 150px;
}
.text-color{
    color: orange;
}

.button-link{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    background-image: linear-gradient(180deg,lightsalmon,tomato);
    color: white;
}

#half-width img{
      
    width: 172px;
    margin-left: 164px;
}

#half-width{
    width: 346px;
    float: left;
    margin-top: 85px;
    margin-left: 107px;
}
.baner-top{
    background-image: url("images/shapes/7.png");
    height: 400px;
    width: 1400px;
    margin-top: 50px;
    background-size: cover;
    border-radius: 15px;
}

.text1{
    text-align: center;
}
#text1{
    text-align: center;
     width: 500px;
     margin-left: 388px;
}

.workpage{
    width: 280px;
    height: 335px;
    box-shadow: 20px 20px 20px 20px  gray;
    margin: 35px;
    border-radius: 15px;
    float: left;
}

.workpage img{
    width: 200px;
    margin-top: 17px;
    margin-left: 35px;
}
.img{
    border-radius: 7px;
}
.workpage h1{
    text-align: center;
    font-weight: bold;
    font-size: 3px;
} 
.workpage p{
    text-align: justify;
    padding: 5px;
}

.foood{
    color: orange;
}
#conatiner{
    
    width: 700px;
    margin-top: 586px;
    height: 125px;
    border-radius: 30px;
    margin-left: 200px;
    box-shadow: 10px 10px 30px 10px gray;
}
.left1{
    float:left;
    margin: 20px;
    font-size: 20px;
}
    

.fotter{
    background-color: rgb(92, 86, 86);
    color: rgb(236, 223, 223);
    width: 1700px;
    height: 200px;
    text-align: center;
    padding: 10px;
    margin-top: 90px;
    margin-left: -250px;

}
