

.first-container{
    font-size: 40px;
    text-align: left;
       
}
.about{
    font-size: 30px;
}
#text-color{
    color: orange;
}

.hafl-width{
    width: 40%;
     margin-left: 50px;
     margin-top: 150px;
    float:left;
}
.half-width img{
      
        width: 400px;
        margin-top: 100px;
        margin-left: 150px;
}
.text-color{
    color: orange;
}

.button-link{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    background-image: linear-gradient(180deg,lightsalmon,tomato);
    color: white;
}

#half-width img{
      
    width: 172px;
    margin-left: 164px;
}

#half-width{
    width: 346px;
    float: left;
    margin-top: 85px;
    margin-left: 107px;
}
.baner-top{
    background-image: url("images/shapes/7.png");
    height: 400px;
    width: 1400px;
    margin-top: 50px;
    background-size: cover;
    border-radius: 15px;
}

.text1{
    text-align: center;
    font-size: 30px;
}
#text1{
    text-align: center;
     width: 500px;
     margin-left: 388px;
}

.workpage{
    width: 150px;
    height: 350px;
    box-shadow: 7px 6px 21px 5px rgba(0, 0, 0, 0.3); 
    margin-left: 150px;
    margin-bottom: 80px;
    padding: 15px;
    border-radius: 35px;
    float: left;

}

.workpage img{
    width: 100%;
    border-radius: 25px;
    
}
.img{
    border-radius: 7px;
}
.
.workpage p{
    line-height: 180%;
}

#text-color{
    color: orange;
}
#conatiner{
    display: flex;
    width: 80%;
    height: 80%;
    margin: 120px 90px 100px 90px;
    padding: 40px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 7px 6px 21px 5px rgba(0, 0, 0, 0.3);  
    
}

    
.footer{
    background-color: black;
    color: white ;
    width: 100%;
    height: 150px;
    text-align: center;
    padding-top: 60px;
    
}


